@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="slider">
    <div class="slide">
        <img src="images/tori1.jpg" alt="Tori 1" />
    </div>
    <div class="slide">
        <img src="images/tori2.jpg" alt="Tori 2" />
    </div>
    <div class="slide">
        <img src="images/tori3.jpg" alt="Tori 3" />
    </div>
    <div class="slide">
        <img src="images/tori4.jpg" alt="Tori 4" />
    </div>
    <!-- <button class="btn btn-next">
         <img class="buttons" src="images/nextbutton.png" />
     </button>
     <button class="btn btn-prev">
         <img class="buttons" src="images/prevbutton.png" />
     </button> -->
</div>

<button class="button" id="prevBtn">Previous</button>
<button class="button" id="nextBtn">Next</button>

<div class="flex-container">
    <div class="flex-item-left">
        <h1>Antoyrie Green</h1>
        <h3>.NET Application Engineer</h3>
        <p> I am learning how to become an expert in all things ASP.NET!</p>
    </div>
    <div class="flex-item-right" style="">
        <p>Blah Blah Blah</p>
        <p>Words Words Words</p>
        <!-- <p>Back in 2017, I made the ramdon desicion to apply for a Front End bootcamp here in the city of Detroit. It was sponsored by Meridian, a company I had truthfully never even heard of. After
             successfully making it through the application process, I found myself submitted my 2 weeks notice at Quicken Loans, withdrawing all the money from my 401K, and taking the biggest leap I've'
             taken thus far in my life.
          </p>
          <p>The bootcamp certainly proved to be difficult. I remember many nights where I stayed up late with tears running down my eyes because I couldn't figure out why I was getting that stupid f**king
              error. 16 weeks later, however, I proved to once again be amazing and graduated from the bootcamp. As part of successfully making it through the program, we were offered interviews to be hired as
              software engineers at Meridian. The starting pay was meager, but it was the starting point to where I am now. During my time at Meridian, I became an expert in all things Progress and claims/encounters
              processes related to health insurance. I have so much random ass knowledge that now as I'm applying for jobs and learning how to use .NET, I see how fucking useless it all really was. Not my time there,
              I really did learn a lot. Specifically the health insurance part because clearly, none of these companies give a DAMN about that.
          </p>
          <p>
              Anyway, long story short, here I am 6 years later trying to learn how to use .NET so I can land a job and have kids that don't have to be poor like I was. I was laidoff because I got too comfortable
              with doing nothing, so now here I am having to do something. It's all good though. I survived this long as an application engineer because I love a challenge. I vow to myself and my future kids to dedicate
              my time to mastering this craft. I'm going to make it for all of us. I promise.
          </p>-->
    </div>
</div>

<a href="https://www.linkedin.com/in/antoyrie-green-01008b83"><img class="icon" src="images/linkedin1.png" alt="Linkedin icon"></a>
<a href="https://github.com/antoyrieg?tab=repositories"><img class="icon" src="images/github.png" alt="GitHub icon"></a>
